@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color: #050301;
    --bg-color: #ffffff;
  }
}

body {
  font-family: Poppins, sans-serif;
  letter-spacing: -0.4px;
}
